doctype html
html
    head
    body
        div.contentMain
            div.longBox
                a.lButton(href="javascript:void(0)")
                    img(src="../images/sl.png")
                a.rButton(href="javascript:void(0)")
                    img(src="../images/sr.png")
                ul.showBox
                    li.showLists
                        a(href="")
                            img(src="../images/slider1.jpg")
                    li
                        a(href="")
                            img(src="../images/slider2.jpg")
                    li
                        a(href="")
                            img(src="../images/slider3.jpg")
                    li
                        a(href="")
                            img(src="../images/slider4.jpg")
                    li
                        a(href="")
                            img(src="../images/slider5.jpg")
                    li
                        a(href="")
                            img(src="../images/slider6.jpg")

            div.voice
                span 酷友最新动态:
                ul.trendDiv
                    li
                        a(href="") 越王娇郎小字书
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")学生主题作品合集
                        》推荐给了粉丝
                    li
                        a(href="") 汪佼佼
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")果酒包装设计
                        》发表了评论
                    li
                        a(href="") cut5
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 合成
                        》发表了评论
                    li
                        a(href="") 全胜民
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 传家日历｜新一代国民日历，你的2017生活指南
                        》推荐给了粉丝
                    li
                        a(href="") 越王娇郎小字书
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")学生主题作品合集
                        》推荐给了粉丝
                    li
                        a(href="") 汪佼佼
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")果酒包装设计
                        》发表了评论
                    li
                        a(href="") cut5
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 合成
                        》发表了评论
                    li
                        a(href="") 全胜民
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 传家日历｜新一代国民日历，你的2017生活指南
                        》推荐给了粉丝
                    li
                        a(href="") 越王娇郎小字书
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")学生主题作品合集
                        》推荐给了粉丝
                    li
                        a(href="") 汪佼佼
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="")果酒包装设计
                        》发表了评论
                    li
                        a(href="") cut5
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 合成
                        》发表了评论
                    li
                        a(href="") 全胜民
                        在&nbsp;刚刚&nbsp;原创作品《
                        a(href="") 传家日历｜新一代国民日历，你的2017生活指南
                        》推荐给了粉丝


                div.rightButton
                    a.up(href="javascript:void(0)")
                    a.down(href="javascript:void(0)")
            script.
                $(function () {
                    $(".voice").hover(function () {
                        window.clearTimeout(status_timer);
                        console.log(status_timer);
                    }, function () {
                        status_timer = window.setTimeout("status_scroll()", 5000);
                    });
                    status_timer = window.setTimeout("status_scroll()", 1000);
                })

                var status_timer;
                function status_scroll() {
                    $(".voice ul").animate({top: "-46px"}, 1000, function () {
                        $(".voice li:first").appendTo(".voice ul");
                        $(".voice ul").css("top", "0");
                    });
                    status_timer = window.setTimeout("status_scroll()", 5000);//轮换速度
                }
                function do_status_scroll(n) {
                    if (n == 0) {
                        $(".voice ul").animate({top: "-46px"}, 1000, function () {
                            $(".voice li:first").appendTo(".voice ul");
                            $(".voice ul").css("top", "0");
                        });
                    } else if (n == 1) {
                        $(".voice li:last").prependTo(".voice ul");
                        $(".voice ul").css("top", "-46px");
                        $(".voice ul").animate({top: "0px"}, 1000);
                    }
                }
                $(".up").click(function(){
                    do_status_scroll(0);
                });
                $(".down").click(function(){
                    do_status_scroll(1)
                });

            div.lists1
                ul
                    li
                      a(href="")
                         img(src="../images/list01.jpg")
                    li
                        a(href="")
                            img(src="../images/list02.jpg")
                    li
                        a(href="")
                            img(src="../images/list03.jpg")
                    li.noborder
                        a(href="")
                            img(src="../images/list04.jpg")
            div.lists2
                ul
                    li.first
                      a(href="")
                         img(src="../images/list201.jpg")
                    li
                        a(href="")
                            img(src="../images/list202.jpg")
                    li
                        a(href="")
                            img(src="../images/list203.jpg")
            div.lists3_all
                a.mainList(href="",name="mainList")
                div.lists3
                    span.list3txt1 最新原创推荐
                    &nbsp;
                    span.list3txt2 首推不只是一种认可，还是一种态度
                    div.list3button1
                        a.showWork(href="")
                        a.showArticle(href="")
                div.lists3Lists
                    ul.lists4
                        li
                            a(href="")
                               img(src="../images/031853357b72d270000018c1b694b45.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                               a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                               span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                               a(href="") serfacio
                               &nbsp;&nbsp;
                               img(src="../images/s1.jpg")
                        li
                            a(href="")
                                img(src="../images/03125a257b7212f0000012e7eb3b86d.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s2.jpg")
                        li
                            a(href="")
                                img(src="../images/0310f0c57b6d0fe0000018c1b5655a9.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s3.jpg")
                        li
                            a(href="")
                                img(src="../images/031b2f557b675810000012e7e43568f.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                             &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s4.jpg")
                        li
                            a(href="")
                                img(src="../images/0315cf257b75fca0000018c1b06d872.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s5.jpg")
                        li
                            a(href="")
                                img(src="../images/031853357b72d270000018c1b694b45.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                             &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s6.jpg")
                        li
                            a(href="")
                                img(src="../images/031a26057b57c510000012e7e084856.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s1.jpg")
                        li
                            a(href="")
                                img(src="../images/031853357b72d270000018c1b694b45.jpg@250w_188h_1c_1e_2o_100sh.jpg")
                            p
                                a.list4title(href="",title="[serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio") [serfacio实验室] -器生茶时 /包装设计 /logo设计 by serfacio
                            a(href="")
                                span.colorone 原创作品
                            &nbsp;-平面-包装
                            br
                            span 13小时上传
                            br
                            span.colortwo 2833
                            &nbsp;人气&nbsp;/&nbsp;
                            span.colortwo 23
                            &nbsp;评论&nbsp;/&nbsp;
                            span.colortwo 177
                            &nbsp;推荐
                            br
                            div.list4author
                                a(href="") serfacio
                                &nbsp;&nbsp;
                                img(src="../images/s2.jpg")
                    div.lists5.clear
                        div.bigPage
                            a.pageSelected(href="") 1
                            a(href="body_index2") 2
                            a(href="") 3
                            a(href="") 4
                            a(href="") 5
                            a(href="") 6
                            a(href="") 7
                            a(href="") 8
                            a(href="") 9
                            &nbsp;...&nbsp;
                            a(href="") 99
                            a(href="") 100
                            a(href="")
                              b
                            span 跳转到：
                            input(type="text")
                            a(href="") GO
            div.lists6
                a(href="")
                   img(src="../images/28b077289f5d6e3b222542fa85f3188e.jpg")
            ul.lists7
                li
                  span 推荐设计师
                  a.more(href="") 更多 >>
                li
                    span 活跃设计师
                    a.more(href="") 更多 >>
                li
                    span 好职位在站酷
                    span.list3txt2 &nbsp;&nbsp;企业找到好设计师，设计师找到好工作
                    div.twoMsg
                        a(href="") 发布招聘广告
                        &nbsp;|&nbsp;
                        a(href="") 更多 >>
            ul.lists8
            img(src="../images/15da455822fc87fbe99e1a484b4de02d.jpg")
            a.fixedImg(href="")
              img(src="../images/pop-appdown2.png")
            a.goTop(href="")
              img(src="../images/goTopZcool.png")

