doctype html
html
    head
    body
        div.footer
            div.f1
                form
                    input.chooseItems(type="text" value="" )
                    i
                    div.items
                        a.choosed(href="") 全部
                        a(href="") 作品
                        a(href="") 文章
                        a(href="") 欣赏
                        a(href="") 素材
                        a(href="") 设计师
                    input.itemsInput(type="text")
                    input.search2(type="submit" value="")
            div.clear
            div.f2
                div.main
                    ul.one
                        li 关于
                            a(href="") 关于站酷
                            a(href="") 版权声明
                            a(href="") 关于隐私
                            a(href="") 免责声明
                            a(href="") 网站地图
                            a(href="") 加入站酷
                        li 栏目
                            a(href="") 原创作品
                            a(href="") 设计文章
                            a(href="") 设计赛事
                            a(href="") 精彩评论
                            a(href="") 海洛创意
                            a(href="") 站酷高高手
                        li 商务
                            a(href="") 企业服务
                            a(href="") 赛事服务
                            a(href="") 招聘服务
                            a(href="") 图片服务
                            a(href="") 培训服务
                        li 联系
                            a(href="") 在线提问
                            a(href="") 联系我们
                            a(href="") 站酷微博
                            a(href="") 站酷微信
                        li 帮助
                            a(href="") 站酷规则
                            a(href="") 常见问题
                        li 友链
                            a(href="") 中电云集
                            a(href="") 星云网
                            a(href="") 站长之家
                            a(href="") 蜂鸟网
                            a(href="") 汉仪字库
                            a(href="") 更多
                    div
                        label 版权信息
                        p 站酷（ZCOOL）会员所发布展示的“原创作品/文章”
                          br
                          版权归原作者所有，任何商业用途均须联系作者。如
                          br
                          未经授权用作他处，作者将保留追究侵权者法律责任
                          br
                          的权利。
                        p
                          a(href="") 京ICP备11017824号-4
                          i &nbsp;/&nbsp;
                          a(href="") 京ICP证130164号
                          br
                          北京市公安局朝阳分局备案编号:
                          a(href="") 110105000501
                          br
                          Copyright Copyright
                          &copy;;2006-2016
                          a(href="") &nbsp;ZCOOL


