doctype html
html
    head
    body
        div.topWrapper
            div.topHeader
                div.newlogowp
                    a.topLogo(href="")
                    a.topLogo-4(href="",target="_blank")
                    div.topNav
                        a.selected(href="") 首页
                        span.fan
                           a(href="") 作品
                             i
                            div.navItems
                                a(href="") 全部
                                a(href="") 平面
                                a(href="") UI
                                a(href="") 网页
                                a(href="") 插画
                                a(href="") 动漫
                                a(href="") 摄影
                                br
                                br
                                a(href="") 空间/建筑
                                a(href="") 工业/产品
                                a(href="") 三维
                                a(href="") 影视
                                a(href="") 手工艺
                                br
                                a(href="") 纯艺术
                                a(href="") 服装
                                a(href="") 其他
                        a(href="") 文章
                        span.fan
                            a(href="") 工具
                                i
                            div.navItems.next
                                a(href="") 搜素材
                                a(href="") 灵感/欣赏
                                a(href="") NewTab
                         a(href="") 招聘
                         a(href="") 赛事
                         span.fan
                            a(href="") 更多
                              i
                            div.navItems.next
                                a(href="") 活动
                                a(href="") 酷友/设计师
                                a(href="") 酷友精彩评论
                                a(href="") 站酷专题
                                a(href="") 海洛创意
                                a(href="") 高高手
                                a(href="") 摄影
                                a(href="") 站酷客户端
                    div.topHeaderRight
                        form.search_theme
                            input.searchBox(type="text",name="search")
                            input.search(type="submit" value="")
                            div.radioItems
                                input(type="radio",name="radio",checked="checked" value="" id="a1")
                                label(for="a1") 全部
                                input(type="radio",name="radio" value="" id="a2")
                                label(for="a1") 作品
                                input(type="radio",name="radio" value="" id="a3")
                                label(for="a1") 文章
                                <br>
                                input(type="radio",name="radio" value="" id="a4")
                                label(for="a1") 全部欣赏
                                input(type="radio",name="radio" value="" id="a5")
                                label(for="a1") 素材
                                input(type="radio",name="radio" value="" id="a6")
                                label(for="a1") 设计师
                                <br>
                                input(type="radio",name="radio" value="" id="a7")
                                label(for="a1") 正版图片
                        div.userMsg
                            a.login(href="login") 登录
                            &nbsp;|&nbsp;
                            a.register(href="register") 注册
                        //    ul.userLogin
                        //        li
                        //          a.house(href="")
                        //        li
                        //          a.letter(href="")
                        //        li
                        //          a.volume(href="javascript:void(0)")
                        //          ul.hide
                        //             li
                        //                a(href="") 我的粉丝
                        //                a(href="") @到我的
                        //                a(href="") 推荐我的
                        //                a(href="") 给我的评论
                        //                a(href="") 给我的留言
                        //                a(href="") 给我的回复
                        //                a(href="") 系统通知
                        //                a(href="") 站酷公告
                        //        li
                        //          a.star(href="")
                        //        li
                        //          a.cloud(href="")
                        //          ul.hide
                        //              li
                        //                  a(href="") 发布作品
                        //                  a(href="") 发表文章
                        //        li.vistornest
                        //          a.visitor(href="")
                        //             img(src="../images/visitor.gif")
                        //          ul.hide
                        //              li
                        //                  a(href="") idliuhong
                        //                  a(href="") 作品管理
                        //                  a(href="") 我关注的
                        //                  a(href="") 我的团队
                        //                  a(href="") 我的简历
                        //                  a(href="") 账号设置
                        //                  a(href="") 退出








