@charset "utf-8";
/* clear styles */
body,ul,p,li,form,em,h1,h2,h3,h4,dl,dt,dd,header,input,nav,aside{
    margin:0;
    padding:0;
}

/*base part*/
body{
    min-width:1084px;
    overflow-x: hidden;
    font: 12px/1.6 Verdana, 宋体, Helvetica, sans-serif;
    background-color:#F4F4F4;
}
a{
    text-decoration:none;
}
/*火狐浏览器下点击a标签时出现虚线*/
a:focus {
    outline: none;
}
.clear{
    clear:both;
}
.hide{
    display:none;
}

/*header_part*/
.topWrapper{
    height:45px;
    width:100%;
    min-width:1083px;
    background:url(../images/topBg.png);
}
.topHeader{
    width:1083px;
    margin:0 auto;
    height:45px;
    text-align:left;
}
.topLogo{
    width:121px;
    height:44px;
    display:inline-block;
    background:url(../images/logo.png?v2) no-repeat 0 center;
    margin-right:5px;
    float:left;
}
.topLogo-4{
    width:80px;
    height:44px;
    display:inline-block;
    background:url(../images/Z_app1.gif) no-repeat 0 0;
    margin-right:20px;
    float:left;
}
.topLogo-4:hover{
    text-decoration:none;
}
.topNav{
    height:43px;
    float:left;
}

.topHeaderRight{
    float:right;
    line-height:45px;
}
.topHeaderRight > input{
    display:inline-block;
}
.search{
    position:relative;
    left:-30px;
    top:3px;
    background:url(../images/bs.png) no-repeat 0 -4px;
    width:20px !important;
    border:none !important;
    cursor: pointer;
}
.search:hover{
    background:url(../images/bs.png) no-repeat 0 -28px;
}
.topHeaderRight a{
    color:black;
}
.searchBox{
    width:167px;
    height:25px;
    padding-left:5px;
    margin-right:5px;
    border:0;
}
.topNav > a,.topNav span > a{
    line-height:44px;
    color:#000;
    width:50px;
    text-align:center;
    display:inline-block;
    overflow:hidden;
    font-size:14px;
}
.topNav a:hover{
    background:#2D2D2D;
    color:white;
}
.topNav span > a i{
    position: relative;
    top: -2px;
    left: 2px;
    width:0;
    height:0;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #8c6000 #ffae00 #ffae00;
    font-size: 0;
    line-height: 0;
}

.navItems{
    position:absolute;
    left:0;
    top:12px;
    background:#2D2D2D;
    padding:15px 0 10px 10px;
    width:270px;
}
.navItems a {
    float:left;
    margin-right:15px;
    text-align:left;
    color:#ABABAB;
    font-size:12px;
    line-height:20px;
}
.next{
    width:100px;
    padding:0;
}
.next a{
    padding-left:7px;
    margin:0;
    line-height:34px;
    clear:left;
}
.navItems{
    display:none;
    z-index:3;
}
.topNav div > a:hover{
    color:yellow;
}
.selected{
    background:#2D2D2D;
    color:white !important;
}
.radioItems{
    position:absolute;
    width:167px;
    top:35px;
    line-height:20px;
    color:white;
    background:#2D2D2D;
    display:none;
    padding:5px 0 5px 5px;
    z-index:3;
}
.radioItems input{
    width:18px;
    vertical-align:middle;
}
.radioItems label{
    vertical-align:middle;
}

.fan{
    position:relative;
}
.userMsg{
    float:right;
}
.search_theme{
    float:left;
}

.userLogin li{
    position:relative;
    list-style-type:none;
    float:left;
}
.userLogin li a{
    position:relative;
    display:inline-block;
    width:37px;
    height:43px;
}

.house{
    background:url(../images/tb.png) no-repeat 10px 2px;
}
.userLogin li a.house:hover{
    background:#3c3c3c url(../images/tb.png) no-repeat 10px -41px;
}
.letter{
    background:url(../images/tb.png) no-repeat -27px 2px;
}
.letter.hover{
    background:#3c3c3c url(../images/tb.png) no-repeat -27px -41px;
}
.volume{
    position:relative;
    background:url(../images/tb.png) no-repeat -64px 2px;
}
.volume.hover{
    background: #3c3c3c url(../images/tb.png) no-repeat -64px -41px;
}
.star{
    background:url(../images/tb.png) no-repeat -101px 2px;
}
.star.hover{
    background:#3c3c3c url(../images/tb.png) no-repeat -101px -41px;
}
.cloud{
    background:url(../images/tb.png) no-repeat  -138px 2px;
}
.cloud.hover{
    background:#3c3c3c url(../images/tb.png) no-repeat  -138px -41px;
}
.visitor.hover{
    background:#3c3c3c;
}
.userLogin ul li a{
    display:block;
    width:89px;
    height:32px;
    padding:0 10px;
    line-height:32px;
    color:#fff;
}
.userLogin li a img{
    width:24px;
    height:24px;
    margin-top: 10px;
    padding-left: 5.5px;
}
.userLogin ul{
    position:absolute;
    left:0;
    top:43px;
    background:#3c3c3c;
    z-index:100;
}


.vistornest ul{
    left: -92px;
    top: 43px;
    text-align:left;
}
.vistornest ul li a{
    font-size:12px;
    padding:0;
    padding-left:40px;
}
.vistornest ul li a:first-child{
    padding:0 5px;
}

.vis1{
    background: url(../images/st.png) no-repeat 15px -33px;
}
.vis2{
    background: url(../images/st.png) no-repeat 15px -1px;
}
.vis3{
    background: url(../images/st.png) no-repeat 15px -220px;
}
.vis4{
    background: url(../images/st.png) no-repeat 15px -1px;
}
.vis5{
    background: url(../images/st.png) no-repeat 15px -160px;
}
.vis6{
    background: url(../images/st.png) no-repeat 15px -193px;
}

.vis1:hover{
    background: #000 url(../images/st.png) no-repeat 15px -33px;
}
.vis2:hover{
    background: #000 url(../images/st.png) no-repeat 15px -1px;
}
.vis3:hover{
    background: #000 url(../images/st.png) no-repeat 15px -220px;
}
.vis4:hover{
    background: #000 url(../images/st.png) no-repeat 15px -1px;
}
.vis5:hover{
    background: #000 url(../images/st.png) no-repeat 15px -160px;
}
.vis6:hover{
    background: #000 url(../images/st.png) no-repeat 15px -193px;
}

/*index part*/
.contentMain{
    position:relative;
    width:1084px;
    margin:20px auto;
    background:#FFFFFF;
}
.longBox{
    position:relative;
    width:1084px;
    height:350px;
}
.longBox a{
    display:inline-block;
}
.showBox li{display:block;height:350px;}
.lButton,.rButton{
    position:absolute;
    display:inline-block;
    top:45%;
}
.lButton{
    left:-42px;
}
.rButton{
    right:-42px;
}
.longBox li{
    position:absolute;
    list-style-type:none;
    //display:none;
    float:left;
}
.voice{
    position:relative;
    width:948px;
    height:46px;
    line-height:46px;
    padding-left:135px;
    border-bottom:1px solid #F4F4F4;
    background:url(../images/voice.jpg) no-repeat 8px 16px;
}
.trendDiv{
    position:relative;
}
.voice span{
    position:absolute;
    left:30px;
    font-size:14px;
}

.voice ul{
    list-style-type: none;
    position:absolute;
    left:140px;
}
.voice{
    overflow:hidden;
}
.voice li a{
    color:#4095CE;
}
.rightButton{
    position:absolute;
    right:20px;
    top:8px;
}
.up{
    display:inline-block;
    width:31px;
    height:26px;
    margin-right:1px;
    background:url(../images/nano.gif) no-repeat 0 0;
}
.down{
    display:inline-block;
    width:31px;
    height:26px;
    margin-right:1px;
    background:url(../images/nano.gif) no-repeat -32px 0;
}
.up:hover{
    background:url(../images/nano.gif) 0 -26px no-repeat;
}
.down:hover{
    background:url(../images/nano.gif) -30px -26px no-repeat;
}
.lists1 ul{
    list-style-type:none;
    display:inline-block;
    border-bottom:1px solid #F4F4F4;
}
.lists1 li{
    display:inline-block;
    width:269px;
    float:left;
    padding:10px 0;
    border-right:1px solid #F4F4F4;
}
.lists1 a{
    display:inline-block;
    padding-left:10px;
}
.noborder{
    border:none !important;
}
.lists2{
    width:1063px;
    height:225px;
    padding:0 10px 20px 10px;
    border-bottom:1px solid #F4F4F4;
}
.lists2 li{
    list-style-type:none;
    float:left;
    padding-top:65px;

}
.lists2 li:not(:last-child){
    margin-right:21px;

}
.first{
    background:url(../images/aa.jpg) no-repeat 0 0;
}
.lists3{
    width:1043px;
    height:32px;
    padding:20px;
    border-bottom:1px solid #F4F4F4;
}
.list3txt1{
    font-size:20px;
}
.list3txt2{
    color:#999;
}
.list3button1{
    float:right;
}
.showWork,.showArticle{
    display:inline-block;
    width:113px;
    height:32px;
}
.showWork{
    background:url(../images/btn-publish.png) 0 0 no-repeat;

}
.showArticle{
    background:url(../images/btn-publish.png) 0 -38px no-repeat;
    margin-left:10px;
}
.lists4{
    list-style:none;
    float:left;
    background:#FFFFFF;
}
.lists4 li{
    width:250px;
    height:355px;
    padding:10px 10px 0 10px;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    color: #7f7f7f;
    float:left;
}
.list4title{
    display:block;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top:10px;
}
.colorone{
    color: #ff0084;
    font-weight: bold;
}
.colortwo{
    color: #f30;
}
.list4author{
    float:right;
}
.list4author img{
    vertical-align: middle;
}
.lists5{
    width:1083px;
    height:87px;
}
.bigPage{
    text-align:center;
    padding:20px 0 30px 0;
}
.bigPage a,.bigPage input{
    position:relative;
    display:inline-block;
    margin:0 5px;
    background:url(../images/bigPage.png) 0 0 no-repeat;
    width:37px;
    height:37px;
    text-align:center;
    line-height:37px;
    color: #7f7f7f;
    border:none;
    vertical-align:middle;
}
.bigPage a:hover{
    background:url(../images/bigPage.png) 0 -37px no-repeat;
}
.bigPage a b {
    cursor: pointer;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    font-size: 0;
    line-height: 0;
    border-color: #f8f8f8 #f8f8f8 #f8f8f8 #4e4e4e;
    position:absolute;
    left: 16px;
    top: 12px;
}
.bigPage span{
    padding-left:30px;
}
a.pageSelected,a.pageSelected:hover{
    background:url(../images/bigPage.png) 0 -111px no-repeat;
}
.lists6{
    width:1083px;
    height:90px;
}
.lists7{
    list-style:none;
    background:#FFFFFF;
}
.lists7{
    float:left;
}
.lists7 li{
     float:left;
     width:235px;
     height:42px;
     padding:0 10px;
    line-height:42px;
    border:1px solid #F4F4F4;
 }
.lists7 li:last-child{
    width:548px;
}
.lists7 span{
    font-size:14px;
}
.twoMsg a{
    display:inline-block;
}
.twoMsg a{
    color:#4095CE;
}
.more,.twoMsg{
    float:right;
    color:#4095CE;
}
.lists7 span{
    float:left;
}
.fixedImg{
    position:fixed;
    z-index:1;
}
.goTop{
    position:fixed;
    bottom:0;
    z-index:1;
}

/*login part*/
.loginMain{
    width:1083px;
    margin:30px auto;
    padding:0 0 20px 0;
    background:#FFFFFF;
}
.login2,.details{
    display:inline-block;
    text-align:center;
    height:49px;
    line-height:49px;
    color:black;
    padding:0 20px;
}

.loginNav{
    background:#FAFAFA;
}
.onLogin{
    font-weight:bold;
    border-top:2px solid #FFB500;
    background:white;
}
.meMsg{
    height:55px;
    border-bottom:1px solid #F4F4F4;
}
.loginLogo22{
    position:relative;
    left:20px;
}
.loginText{
    padding:10px 60px;
}
.loginText{
    position:relative;
    top:-44px;
    color:gray;
}
.loginText label{
    color:#FFB900;
}
.smallText{
    font-size:9px;
    line-height:10px;
    color:gray;
}
.loginInput{
    border-bottom:1px solid #F4F4F4;
}
.loginInput > label{
    display:inline-block;
    width:150px;
    height:40px;
    text-align:right;
    padding:10px;
    line-height:40px;
}
.loginInput > input{
    width:262px;
    height:38px;
    border:1px solid #C4C3C3;
    -webkit-box-shadow:inset 0 0 5px #C4C3C3;
    -moz-box-shadow:inset 0 0 5px #C4C3C3;
    box-shadow:inset 0 0 5px #C4C3C3;
}
.warnings{
    position:relative;
    padding-left:170px;
    height:61px;
    border-bottom:1px solid #F4F4F4;
    line-height:61px;
}
.doLogin{
    position:relative;
    left:170px;
    width:120px;
    height:40px;
    background:#FFCC19;
    border:none;
    border-radius:3px;
    font-size:16px;
    color: #A33300;
    border: 1px solid #E79F14;
}
.findMsg{
    position:relative;
    left:180px;
}
.doLogin,.findMsg{
    margin:20px 0 40px 0;
}
.findMsg a{
    color:#4095CE;
}
.qq,.weibo{
    position:relative;
    left:170px;
    padding:20px 10px 20px 0;
}

/*register part*/

.register_All{
    position:relative;
    width:1082px;
    margin:0 auto;
}
.row1{
    height:98px;
}
.row1 .rightText{
    font-size:14px;
    padding-top:34px;
    float:right;
}
.dLine{
    font-size: 12px;
    padding: 0 5px;
    color: #e2e2e2;
}
.rightText a{
    color:#FFBA62;
}
.rightText b{
    color:#D9DADC;
}
.logo{
    display:inline-block;
    width:224px;
    height:98px;
    text-align:center;
    background:url(../images/logo_1.png) no-repeat left center;
}
.addMessages{
    width:1083px;
    background:white;
    box-shadow:0 0 5px #C4C3C3;
}
.messageForm{
    width:992px;
    padding:45px 45px 120px 45px;
    background:white;
}
.messageForm p{font-size:26px;letter-spacing:8px;}
.messageDetail{
    padding:40px 0 0 200px;
}
.rules{
    padding-top:30px;
    font-size:14px;
}
.rules label{color:#FFBA62;}
.detailInput input{
    padding:10px;
    width:513px;
    height:33px;
    font-size:24px;
}

.warning{
    position:relative;
    left:10px;
    top:5px;
    margin-left:10px;
}
.detailInput input{
    padding:10px 20px;
    margin-top:20px;
    background:#F9F9F9;
    border:1px solid #C4C3C3;
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 5px #C4C3C3;
    -moz-box-shadow:inset 0 0 5px #C4C3C3;
    box-shadow:inset 0 0 5px #C4C3C3;
}

.on{
    background:url('../images/icon_warning_s.png') no-repeat left center !important;
    display:block !important;line-height:20px !important;}
.Validform_checktip {
    margin-left: 10px;
}
.Validform_wrong, .Validform_right, .Validform_warning {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding-left: 25px;
    vertical-align: middle;
}
.Validform_error {
    background-color: #f7ecec;
    border-color: #ef392b;
    color: #c00;
}
.Validform_warning {
    background: rgba(0, 0, 0, 0) url("../images/icon_warning_s.png") no-repeat scroll 0 center;
    color: #777;
}
.Validform_wrong {
    background: rgba(0, 0, 0, 0) url("../images/icon_error_s.png") no-repeat scroll 0 center;
    color: #ef392b;
}
.Validform_right {
    background: rgba(0, 0, 0, 0) url("../images/icon_right_s.png") no-repeat scroll 0 center;
}

.input_text.focus,.textarea.focus{background-color:#fff;border-color: #ffd100;/*边框颜色*/
    /*内阴影*/
    -webkit-box-shadow: 0 2px 5px #ededed;
    -moz-box-shadow: 0 2px 5px #ededed;
    box-shadow: 0 2px 5px #ededed;
}
.passwordStrength span {
    width: 57px;
    text-align: center;
    background-color: #d0d0d0;
    border-right: 1px solid #fff;
}
.passwordStrength .bgStrength {
    color: #fff;
    background-color: #fcc900;
}
.passwordStrength span {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    line-height: 18px\9;
    height: 16px;
}
.sure{
    position:relative;
    left:0px;
    padding:10px;
    width:554px;
    height:52px;
    margin-top:20px;
    text-align:center;
    background:#FFBA00;
    font-size:20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.widget{
    position:relative;
    margin-top:20px;
    padding-left:120px;
}
.widget_top{
    height: 14px;
    width: 290px;
    background: url(../images/sprite.png) 0 -1341px no-repeat;
}
.widget_content{
    width: 260px;
    height: 116px;
    padding: 0 15px 2px 13px;
    background-color: #f2ece1;
    border-left: 1px solid #e4ddd1;
    border-right: 1px solid #e4ddd1;
}
.widget_content_main{
    border: 1px solid #e2d7c7;
    height: 100%;
    width: 260px;
    overflow: hidden;
    background-color: #fcfbf8;
    text-align: center;
    position: relative;
}
.widget_content_info{
    height: 22px;
    width: 260px;
    background-position: 0 -674px;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
    margin-left: 1px;
}
.widget_bottom{
    height: 28px;
    width: 290px;
    line-height: 14px !important;
    position: relative;
    text-align: left;
    overflow: visible;
    background: url(../images/sprite.png) 0 -56px no-repeat;
}
.wcm_box{
    border: 1px solid #e2d7c7;
    height: 100%;
    width: 260px;
    overflow: hidden;
    background-color: #fcfbf8;
    text-align: center;
}
.wcm_loading_icon{
    height: 37px;
    width: 52px;
    margin: 25px auto 10px;
    background: url(../images/sprite.png)  0 -696px no-repeat;
}
.wcm_loading_text{
    text-align: center;
    color: #B7AA96;
}
.wcm_show2{
    left: 0px;
    background: url(../images/block.png) no-repeat;
    width: 53px;
    height: 50px;
    top: 26px;
}
.widget_slider{
    position:relative;
    height: 28px;
    width: 261px;
    overflow: visible;
    background: url(../images/sprite.png) 0 0 no-repeat;
}
.ws_text1{
    cursor: default;
    position: absolute;
    left: 40px;
    font-size: 12px !important;
    color: #486c80;
    opacity: 1;
    filter: alpha(opacity=100);
    height: 28px;
    line-height: 28px !important;
    text-align: center;
    width: 220px;
}
.ws_button{
    height: 44px;
    width: 44px;
    cursor: pointer;
    display: block;
    position:absolute;
    left:-3px;
    top: -9px;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 13px;
    z-index: 399;
    background: url(../images/sprite.png) 0 -84px no-repeat;
}
.ws_clock{
    height: 26px;
    width: 26px;
    position:absolute;
    right:363px;
    top:160px;
    background: url(../images/sprite.png) 0 -1153px no-repeat;
}
.wcm_show1{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    text-decoration: none;
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent;
}
.wcm_show2{
    position: absolute;
    display: block;
    width: 260px;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    text-decoration: none;
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent;
}

.personMsg{
    color:black;
    font-weight:bold;
}

.wcm_loading_text{
    text-align: center;
    color: #B7AA96;
}
.wcm_loading_icon{
    height: 37px;
    width: 52px;
    background-position: 0 -696px;
    margin: 25px auto 10px;
}
.wcm_show1{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    background:none;
}
.wcm_show2{
    position: absolute;
    display: block;
    width: 260px;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    background:none;
}
.wcm_show3{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    left: 0;
    visibility: hidden;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    display: inline-block;
}
.wcm_show4{
    height: 16px;
    width: 73px;
    background-position: 0 -821px;
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    zoom: 1;
}
.wcs1_1{
    left: 0px;
    background-image: url(../images/block.png);
    width: 60px;
    height: 59px;
    top: 30px;
}
.wcs2_1{
    height:100%;
}
.wcs2_2{
    height: 116px;
    width: 272px;
    background-position: 0 -440px;
    position: absolute;
    top: 0;
}
.wcs2_3{
    height: 64px;
    width: 64px;
    background-position: 0 -610px;
    display: none;
    position: absolute;
    left: 196px;
    top: 0;
    height: 64px !important;
}
.refresh_button{
    background-color: #f1e9de;
    margin: 6px 0 0 18px !important;
    height: 13px;
    width: 14px;
    background-position: 0 -1179px;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.3.1.0.png);
}
.refresh_tips{
    display: none;
    height: 24px;
    width: 58px;
    background-position: 0 -1317px;
    position: relative;
    left: -10px;
    top: -28px;
}
.help_button{
    text-align: center !important;
    color: white !important;
    font: 12px/20px Helvetica, SimSun, monospace !important;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.3.1.0.png);
    background-position: 0px -582px;
    width: 28px;
    height: 14px;
}
.help_tips{
    display: none;
    height: 24px;
    width: 58px;
    background-position: 0 -1317px;
    position: absolute;
    left: -10px;
    top: -28px;
}
.logo_button{
    width: 65px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 6px;
    background-color: transparent;
}
.widget_bottom a{
    overflow: visible;
    display: block;
    zoom: 1;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 16px !important;
}
.ws_clock{
    height: 26px;
    width: 26px;
    background-position: 0 -1153px;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.3.1.0.png);
    height: 26px;
    width: 26px;
    background-position: 0 -1153px;
    position: absolute;
    right: -26px;
    top: 2px;
}

.gt_cut_fullbg_slice{
    float: left;
    width: 10px;
    height: 50%;
    margin: 0 !important;
    background-image: url(../images/geetest.webp);
}